 @font-face {
  font-family: "MinhaFonte";
  src: url("/fonte/Daydream\ DEMO.otf") format("truetype");
}

html, body, * {
  cursor: url('/img/magicwandnormal.png'), auto !important;
}
a:hover,
button:hover,
[onclick]:hover,
.perfil-btn:hover,
#gameboyIntro:hover,
.card-jogo:hover,
.jogos:hover {
  cursor: url('/img/magicwandclick.png'), pointer !important;
}
 
 body {  
    font-family: "MinhaFonte", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  
      background-image: url("/img/background-raining.png");
      background-size: 100% 100%; 
       background-repeat: no-repeat;
       background-position: center;
    }

    .titulo{
      color: hsl(63, 78%, 91%);
      text-shadow: 0 0 8px rgba(0,0,0,0.7);
      margin-top: 40px;
      background-color: rgb(88, 77, 244);
      border-radius: 12px;
      gap: 12px;
      padding: 8px 12px;


    }
    .opcao-gato {
      width: 17%;
      align-items: center;
      cursor: pointer;
      margin: 10px;
      border: 3px solid transparent;
      border-radius: 10px;
      transition: .2s;
    }
    .opcao-gato:hover {
      transform: scale(1.1);
    }
    .container-gatos{
    display: flex;
    justify-content: center;   
     align-items: center;      
     gap: 20px;                  
     margin-top: 50px;
    }

    .selecionado {
      border-color: rgb(255, 248, 211);
      transform: scale(1.15);
    }

.btn-img {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 2%;
}

.btn-img img {
  width: 200px; 
}

.btn-img:hover{
    transform: scale(1.1);
}
