<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Catch Game</title>
<link rel="stylesheet" href="raining.css">
</head>
<body>

  <button class="voltar" onclick="window.location.href='/'">
      <img src="/img/button-home.png" alt="">
    </button>

<div id="gameContainer">
  <div id="game">

    <div id="startScreen">
      <h1> It's raining kitties</h1>
      <button id="startButton"><img src="/img/button-start.png" alt=""></button>
    </div>

    <div id="player"></div>
    <img id="item">

    <div id="score">Pontos: 0</div>
    <div id="lives">❤️❤️❤️</div>

  </div>
</div>

  <div id="popup" class="hidden">
  <img id="popup-img" src="" style="width:100px;height:100px;margin-bottom:10px;">
  <h2 id="popup-title"></h2>
  <p id="popup-msg">
    
  </p><button id="startButton" id="popup-btn"><img src="/img/button-start.png" alt=""></button>
</div>



<script type="module" src="raining.js"></script>
  <script type="module" src="/firebase-init.js"></script>
   <script type="module" src="./select.js"></script>

</body>
</html>





