<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Ranking</title>
  <link rel="stylesheet" href="ranking.css">
</head>
<body>
   <div id="header-placeholder"></div>

<main>
<h2>Ranking de Pontos</h2>

<div id="listaRanking"></div>
</main>

<script type="module" src="/firebase-init.js"></script>
<script type="module" src="ranking.js"></script>
<script type="module" src="/music.js"></script>
<script src="/componentes/header.js"></script>

</body>
</html>
