@font-face {
  font-family: "MinhaFonte";
  src: url("/fonte/Daydream DEMO.otf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url(/img/fundo.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: antiquewhite;
}

html, body, * {
  cursor: url('/img/magicwandnormal.png'), auto !important;
}
a:hover,
button:hover,
[onclick]:hover,
.perfil-btn:hover,
#gameboyIntro:hover,
.card-jogo:hover,
.jogos:hover
.btn-upload pixel-btn:hover {
  cursor: url('/img/magicwandclick.png'), pointer !important;
}



main {
  width: 100%;
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}

.perfil-container {
  max-width: 500px;
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #3d46bc;
  font-family: "MinhaFonte";
}

.perfil-card {
  background-color: rgb(96, 33, 125);
  border-radius: 15px;
  padding: 25px;
  display: flex;
  gap: 25px;
  align-items: center;

  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.foto-area {
  text-align: center;
}

.foto-preview {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ddd;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.btn-upload {
  background: #c78efd;
  padding: 6px 12px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
  transition: 0.2s;
}

.btn-upload:hover {
  background: #d5d4cf;
}

.info-area {
  flex: 1;
}

.label {
  font-size: 14px;
  color: #fffd93;
  margin-bottom: 3px;
  display: block;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ffff8f;
  outline: none;
  font-size: 15px;
  margin-bottom: 15px;
}

.input:focus {
  border-color: #e2f093;
}

.email {
  font-size: 20px;
  color: #fcffad;
  margin-bottom: 10px;
}

.btn-salvar {
  width: 200px;
  height: 60px;
  background-image: url("/img/perfilbutton.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  font-family: "MinhaFonte";
  color: rgb(128, 35, 122);
}


.btn-sair {
  width: 200px;
  height: 60px;
  background-image: url("/img/pontosbutton.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  font-family: "MinhaFonte";
  color: rgb(23, 30, 97);
}


.voltar {
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  background: #e0dfda;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

@media (max-width: 520px) {
  .perfil-card {
    flex-direction: column;
    text-align: center;
  }

  .info-area {
    width: 100%;
  }
}